@{
    ViewBag.Title = "Reset password confirmation";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-cover-video-2.jpg)">
    <h2 class="tit6 t-center">Thanh toán</h2>
</section>


<div class="container p-t-160 p-b-80 p-l-15 p-r-15 " id="load_data">
    <div class="row">
    </div>
    <hr />
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

