
@{
    ViewBag.Title = "Thông tin về chúng tôi";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-title-page-3.jpg)">
    <h2 class="tit6 t-center">Về chúng tôi</h2>
</section>

<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
    <span class="tit2-copy t-center"> TH - Hạnh phúc thực sự </span>
    <h3 class="tit3 t-center m-b-35 m-t-5">Câu chuyện của chúng tôi</h3>
    <p class="t-center size32 m-l-r-auto">
        Mọi câu chuyện đều có một khởi đầu. Với TH, chúng tôi bắt đầu câu chuyện của mình bằng khát khao vươn lên tầm vóc Việt. Khát khao khai mở một con đường, một sứ mệnh. Lúc sinh thời, Chủ Tịch Hồ Chí Minh quan niệm rằng sức khỏe là tài sản quí nhất của mỗi con người, là tiền đề cho sự phát triển của mỗi cá nhân. Con người là chủ thể của xã hội và là nguồn lực quyết định sự phát triển của đất nước. Sự phát triển thể lực, trí lực và tâm hồn của mỗi cá nhân là rất quan trọng. Chính vì lẽ đó, chúng tôi luôn tâm niệm rằng đầu tư vào sức khỏe, đầu tư vào giáo dục là góp phần cải thiện nòi giống của một dân tộc, là đầu tư vào sự phát triển mang tính chiến lược của quốc gia. Nhưng làm thế nào để nâng cao Tầm Vóc Việt, làm thế nào để Việt Nam sánh ngang với cường quốc khác trên thế giới ? Đã là người Việt Nam, ai cũng mang trong tim khát khao và trăn trở ấy. Nhưng đối với tập đoàn TH, khát khao ấy trở thành động lực to lớn, thôi thúc chúng tôi khai mở một con đường hoàn toàn mới - tự thân nó đã mang một sứ mệnh hết sức cao đẹp, cho cộng đồng, cho xã hội cho đất nước Việt Nam.
    </p>
</section>

<section class="section-video parallax100" style="background-image: url(/Content/assets/images/bg-cover-video-3.jpg)">
    <div class="content-video t-center p-t-225 p-b-250">
        <span class="tit2-copy p-l-15 p-r-15"> Khám phá </span>
        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">Video của chúng tôi</h3>
        <div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal"
             data-target="#modal-video-01">
            <div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
                <i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

<section class="bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-delicious t-center">
                    <span class="tit2-copy t-center"> Quy trình sản xuất </span>
                    <h3 class="tit3 t-center m-b-35 m-t-5">TH true milk</h3>
                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Quy trình sản xuất sữa tươi sạch từ hệ thống trang trại bò tập trung ứng dụng công nghệ cao tại nghệ an từ đó tạo ra những sản phẩm sữa chất lượng cao
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/Content/assets/images/our-story-1.jpg" alt="IMG-OUR" />
                </div>
            </div>
        </div>

        <div class="row p-t-170">
            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/Content/assets/images/our-story-2.jpg" alt="IMG-OUR" />
                </div>
            </div>
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-romantic t-center">
                    <span class="tit2-copy t-center"> Trang trại </span>
                    <h3 class="tit3 t-center m-b-35 m-t-5">TH True MIlk</h3>
                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        “Đóng đô” ở vùng đất Nghĩa Đàn – Nghệ An, Trang trại chăn nuôi bò sữa tập trung, ứng dụng công nghệ cao của Tập đoàn TH trải dài trên diện tích rộng lớn đến 37.000 ha đất đỏ Bazan màu mỡ, với nguồn nước thiên nhiên từ hồ sông Sào rộng lớn, được xem là Trang trại chăn nuôi kiểu mẫu, ứng dụng tất cả các công nghệ hiện đại, tiên tiến nhất hiện nay trong lĩnh vực chăn nuôi bò sữa và trồng trọt nông sản.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="parallax0 parallax100" style="background-image: url(/Content/assets/images/bg-cover-video-2.jpg)">
    <div class="overlay0-parallax t-center size33"></div>
</div>

<section class="section-chef bgwhite p-t-115 p-b-95">
    <div class="container t-center">
        <span class="tit2 t-center"> Gặp gỡ </span>
        <h3 class="tit5 t-center m-b-50 m-t-5">Người sáng lập</h3>
        <div class="row">
            <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                <div class="blo5 pos-relative p-t-60">
                    <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                        <a href="#"><img src="~/Content/assets/images/avatar-3.jpg" alt="IGM-AVATAR" /></a>
                    </div>
                    <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                        <a href="#" class="txt34 dis-block p-b-6"> Thái Hương </a>
                        <span class="dis-block t-center txt35 p-b-25"> Chủ tịch </span>
                        <p class="t-center">
                            Nữ doanh nhân được biết đến là người phụ nữ có một bản lĩnh kiên định và một tấm lòng nhân hậu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" data-dismiss="modal">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">
            &times;
        </div>
        <div class="wrap-video-mo-01">
            <div class="w-full wrap-pic-w op-0-0">
                <img src="~/Content/assets/images/icons/video-16-9.jpg" alt="IMG" />
            </div>
            <div class="video-mo-01">
                <iframe src="https://www.youtube.com/embed/Mtpv1_y6_Pw?rel=0&amp;showinfo=0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="vendor/isotope/isotope.pkgd.min.js"></script>
}