
@{
    ViewBag.Title = "Sản phẩm quảng cáo";
}


<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-title-page-1.png)"></section>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
                <h2 class="tit6-copy t-center">Sản phẩm TH</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-1.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">TH True Milk</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi tiệt trùng </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi hương dâu </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi hương Sô cô la </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi bổ sung Ngũ Cốc </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi hữu cơ </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa tươi thanh trùng </a>
                        <span class="txt23"> Hoàn toàn từ sữa tươi sạch </span>
                        <span class="txt22 m-t-20"> TH True Milk </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-dinner bgwhite">
    <div class="header-dinner parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-2.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">TH True Yogurt</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa chua tự nhiên </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất lên men </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa chua nếp cẩm </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất lên men </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa chua uống lên men </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất lên men </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Sữa chua uống tiệt trùng hương dâu
                        </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa chua xoài </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa chua uống thanh trùng </a>
                        <span class="txt23"> Sữa tươi sạch nguyên chất </span>
                        <span class="txt22 m-t-20"> TH True Yogurt </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-3.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">TH True Ice Cream</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem que TOPKID Socola </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem que Dâu tự nhiên </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem ốc quế hương Vanilla </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp trà xanh Matcha </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp Sầu Riêng </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp Caramel Cà Phê </a>
                        <span class="txt23">
                            Hoàn toàn từ sữa tươi sạch nguyên chất
                        </span>
                        <span class="txt22 m-t-20"> TH True IceCream </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-dinner bgwhite">
    <div class="header-dinner parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-4.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">TH True JUICE</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juce-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa trái cây JUICE Cam </a>
                        <span class="txt23">
                            Sữa tươi sạch nguyên chất cùng trái cây tươi
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa trái cây JUICE Dâu </a>
                        <span class="txt23">
                            Sữa tươi sạch nguyên chất cùng trái cây tươi
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Nước trái cây JUICE Táo </a>
                        <span class="txt23">
                            Làm từ những loại trái cây chất lượng cao
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Sữa trái cây JUICE Việt quất
                        </a>
                        <span class="txt23">
                            Sữa tươi sạch nguyên chất cùng trái cây tươi
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sữa trái cây JUICE Chuối </a>
                        <span class="txt23">
                            Sữa tươi sạch nguyên chất cùng trái cây tươi
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Nước trái cây JUICE đào </a>
                        <span class="txt23">
                            Làm từ những loại trái cây chất lượng cao
                        </span>
                        <span class="txt22 m-t-20"> TH True JUICE </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-5.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">TH True Food</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân thịt </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân tôm </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân thịt phô mai </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Bánh gạo xốt phô mai </a>
                        <span class="txt23">
                            Sự kết hợp hoàn hảo giữa bánh gạo mềm dẻo cùng hương vị béo
                            ngậy
                        </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Xúc xích xông khói </a>
                        <span class="txt23">
                            Xúc xích hoàn toàn từ thịt sạch và an toàn
                        </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kim chi cải thảo cắt lát </a>
                        <span class="txt23">
                            Cải thảo tươi sạch, được tuyển chọn kĩ càng
                        </span>
                        <span class="txt22 m-t-20"> TH True Food </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

